* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: #292828;
    width: 100%;
}

ul, li {
    display: flex;
    gap: 2rem;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.nav-dropdowns {
    display: flex;
    gap: 2rem;
}

a {
    color: white;
}

.logo-img {
    margin-top: 2rem;
    text-align: center;

}

.all-dropdowns {
    height: 30px;
    width: 120px;
    position: relative ;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
}

.dropdowns {
    height: auto;
    width: 150px;
    padding-top: 2rem;
    background-color: #292828;
    position: absolute;
    left: 0;
    display: none;
}

.dropdowns a {
    color: white;
    display: block;
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
}

.dropdowns a:hover {
    color: burlywood;
    text-decoration: none;
}

.all-dropdowns:hover .dropdowns{
     display: block;
}

.home-dropdown {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.all-dropdowns {
    z-index: 2;
}

.button {
    font-size: rem;
    background-color: burlywood;
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.button:hover {
    background-color: #292828;
}

.carousel-text {
    position: absolute;
    top: 15vw;
    left: 5vw;
    width: fit-content;
    height: fit-content;
}

.carousel-text button:hover {
    color: burlywood;
    background-color: transparent;
}

.first-carousel-p {
    font-size: 2rem;
}

.new-designs {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.banner_thumb {
    position: relative;
}

.banner_content {
    position: absolute;
    top: 0;
    padding: 2rem;
    padding-top: 7rem;
}

.featured-New-Arrival {
    text-align: center;
}

.featured-button {
    background-color: #292828;
    color: burlywood;
    border-color: burlywood;
    height: 3rem;
    width: 10rem;
}

.new-arrival-button {
    background-color: #292828;
    color: white;
    height: 3rem;
    width: 10rem;
    border-color: black;
}

.on-sale-button {
    background-color: #292828;
    color: white;
    height: 3rem;
    width: 10rem;
    border-color: black;
}

.new-arrival-button:hover, .on-sale-button:hover {
    color: burlywood;
}

.first-row-img-boxes {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
}

.first-img-box, .second-img-box, .third-img-box, .fouth-img-box, .fifth-img-box, 
.sec-first-img-box, .sec-second-img-box, .sec-third-img-box, .sec-fouth-img-box,
.sec-fifth-img-box, .thir-first-img-box, .thir-second-img-box, .thir-third-img-box,
.thir-fouth-img-box, .thir-fifth-img-box {
    position: relative;
    width: 13rem;
    height: 13rem;
}

.first-img-box img, .second-img-box img, .third-img-box img, .fouth-img-box img, .fifth-img-box img,
.sec-first-img-box img, .sec-second-img-box img, .sec-third-img-box img, .sec-fouth-img-box img,
.sec-fifth-img-box img, .thir-first-img-box img, .thir-second-img-box img, .thir-third-img-box img,
.thir-fouth-img-box img, .thir-fifth-img-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.first-img-box #img17:hover, .second-img-box #img21:hover, .third-img-box #img1:hover, .fouth-img-box #img3:hover, .fifth-img-box #img9:hover,
.sec-first-img-box #img19:hover, .sec-second-img-box #img23:hover, .sec-third-img-box #img5:hover, .sec-fouth-img-box #img7:hover,
.sec-fifth-img-box #img11:hover, .thir-first-img-box #img40:hover, .thir-second-img-box #img42:hover, .thir-third-img-box #img71:hover,
.thir-fouth-img-box #img33:hover, .thir-fifth-img-box #img44:hover {
    opacity: 0;
    cursor: pointer;
}

#img17, #img21, #img1, #img3, #img9, #img19, #img23, #img5, #img7, #img11, #img40, #img42, #img71, #img33, #img44 {
    position: relative;
}

#button {
    position: absolute;
    height: 3rem;
    width: 10rem;
    margin-top: 9rem;
    text-align: center;
    background-color: #292828;
    color: white;
}

#button:hover {
    background-color: burlywood;
}

.first-img-box-sub-text {
    text-align: center;
}

.ring-necklace, .earring {
    color: gray;
    text-decoration: none;
}

.ring-necklace:hover, .earring:hover {
    color: burlywood;
}

.ring {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

.ring:hover {
    color: burlywood;
}

.old_price {
    color: gray;
    text-decoration: line-through;
    font-size: 1rem;
}

.current_price {
    color: burlywood;
    font-size: 1.2rem;
}

.second-row-img-boxes {
    margin-bottom: 2rem;
    margin-top: 10rem;
    display: flex;
    gap: 2rem;
}

.under-the-boxes {
    margin-top: 10rem;
}

.under-the-boxes-text p {
    color: burlywood;
    font-size: 2rem;
}

.under-the-boxes-text h2 {
    color: white;
    font-size: 2rem;
}

.under-the-boxes-text span {
    color: gray;
    font-size: 2rem;
}

.under-the-boxes-text a {
    border: 1px solid burlywood;
    color: burlywood;
    padding: 0.2rem;
    margin-top: 2rem;
}

.under-the-boxes-text a:hover {
    background-color: burlywood;
    border-radius: 0.5rem;
    color: white;
}

.under-the-boxes {
    position: relative;
    text-align: center;
}

.under-the-boxes-text {
    position: absolute;
    top: 0;
    padding: 10rem;
    padding-left: 25rem;
}

.bestselling {
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.third-row-img-boxes {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.sparkle-updates {
    color: white;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.my-card img {
    width: 20rem;
}

.my-card h4, .my-card p {
    color: white;
}

.my-card {
    width: 20rem;
}

.my-card a {
    color: burlywood;
}

.main-card {
    position: relative;
    overflow: hidden;
    padding-block: 2rem;
    cursor: pointer;
}


.instagram-imgs {
    display: flex;
    overflow-x: scroll;
}

.instagram-imgs::-webkit-scrollbar{
    display: none;
}

.instagram {
    transition: all 200ms ease-in;
}

.instagram-main{
    position: relative;
}

.instagram-main:hover .instagram {
    background-color: rgba(255, 69, 44, 0.638);
    filter: saturate(0.8);
    cursor: pointer;
}

.instagram img {
    width: 12.5rem;
}

.instagram img:hover {
    mix-blend-mode: multiply;
}

.instagram-handle {
    position: absolute;
    top: 40%;
    left: 8%;
    padding-inline: .5rem;
    padding-block: .5rem 0;
    opacity: 0;
    border-radius: .5rem;
    transition: all 150ms;
}

.instagram-handle:hover {
    background-color: rgba(255, 0, 0, 0.313);
    backdrop-filter: blur(10px);
}

.instagram:hover .instagram-handle {
    opacity: 1;
    z-index: 999;
}

.subcribe {
    margin-top: 2rem;
    color: white;
    text-align: center;
}

.subcribe p {
    color: gray;
}

.subcribe input {
    background-color: #292828;
}

.under-subcribe {
    display: flex;
    gap: 2rem;
}

.under-subcribe-main {
    position: relative;
}

.under-subcribe-text {
    position: absolute;
    left: 30%;
    top: 25%;
    font-size: 1.75rem;
    text-align: center;
    z-index: 999;
}

.under-subcribe-text p:last-child {
    font-size: 1rem;
}

.under-subcribe img {
    width: 35rem;
    border-radius: 0.5rem;
    filter: brightness(0.5);
}

.footer {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.information li, .footer_menu li {
    margin-block: .75rem;
}

.about-sparkle h3, .information h3, .account h3, .top-rated h3 {
    color: white;
}

.about-sparkle p, .about-sparkle a, .information a, .account a, .top-rated a {
    color: gray;
}

.information a {
    margin-bottom: 0;
}

.information ul, .account ul, .top-rated ul {
    display: inline;
}

.copyright {
    text-align: center;
}